audit-level=moderate
resolve-peer-dependencies=true
ignore-workspace-root-check=true
fund=false
auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted

# Ignore Vercel deployment toolkit vulnerabilities
audit-level-vercel=none 