{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.js"],
            "options": {
                "parser": "babel",
                "semi": false,
                "singleQuote": false,
                "trailingComma": "none",
                "jsxBracketSameLine": false,
                "arrowParens": "always"
            }
        },
        {
            "files": ["*.ts", "*.tsx"],
            "options": {
                "parser": "typescript",
                "semi": true,
                "singleQuote": true,
                "jsxSingleQuote": true,
                "trailingComma": "es5",
                "jsxBracketSameLine": true,
                "arrowParens": "avoid"
            }
        }
    ]
}
